.search {
  display: flex;
  justify-content: space-between;
  width: 600px;
  height: 32px;
  margin-bottom: 32px;
  .search-input {
    width: 60%;
    padding: 4px;
    border: none;
    border-radius: 4px;
  }
  .search-button {
    width: 30%;
    padding: 4px;
    color: white;
    background-color: rgb(15, 171, 210);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .search-button:hover {
    background-color: rgb(15, 210, 165);
  }
}
